@font-face {
    font-family: TahomaCustom;
    src: url('../assets/fonts/font_tahoma/Tahoma_Regular.eot');
    src: url('../assets/fonts/font_tahoma/Tahoma_Regular.eot') format('embedded-opentype'),url('../assets/fonts/font_tahoma/Tahoma_Regular.woff') format('woff'),url('../assets/fonts/font_tahoma/Tahoma_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'TahomaCustom';
    src: url('../assets/fonts/font_tahoma/Tahoma_Bold.eot');
    src: url('../assets/fonts/font_tahoma/Tahoma_Bold.eot') format('embedded-opentype'),url('../assets/fonts/font_tahoma/Tahoma_Bold.woff') format('woff'),url('../assets/fonts/font_tahoma/Tahoma_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'TahomaCustom';
    src: url('../assets/fonts/font_tahoma/Tahoma_Italiceot');
    src: url('../assets/fonts/font_tahoma/Tahoma_Italic.eot') format('embedded-opentype'),url('../assets/fonts/font_tahoma/TTahoma_Italic.woff') format('woff'),url('../assets/fonts/font_tahoma/Tahoma_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic
}